.htaccess
error_log
.DS_Store
_*
browserconfig.xml
conf_database.php
favicons
googleac*
manage/ckeditor
mod/bgdic
mod/uploadfile/conf_uploadfile.php
robots.txt
site.webmanifest
sitemap.xml
upload*.