body { font-family: arial, sans-serif; }
code { padding:0; margin: 0; }
pre  { padding:0; margin: 0; }
td { padding: 0 5px 0 5px; }
a { text-decoration:none; }
.red { color:red; }

#adm_links { position:fixed; font-size:80%; margin:0; padding:0; opacity:0.7; background-color:white; color:0; border-style:solid; border-color:grey; border-width:0 0 1px 0; z-index:100; }

#all_page{
  width:1000px;
  margin-left:auto; margin-right:auto;
  background-color:yellow;
  padding:5px;
}

#user_frame{
  position:absolute;
  top:30px;
}

