body { font-family: arial, sans-serif; }
code { padding:0; margin: 0; }
pre  { padding:0; margin: 0; }
td { padding: 0 5px 0 5px; }
th { text-align:right; }
a { text-decoration:none; }
div { padding:5px; }
.red { color:red; }

#adm_links {
  position:fixed;
  font-size:80%;
  margin:0; padding:0;
  opacity:0.7;
  background-color:white;
  color:#000;
  border-style:solid;
  border-color:grey;
  border-width:0 0 1px 0;
  z-index:100;
}

#lang_flag img { width: 4em; height: auto; }

#page_menu { border-bottom:solid 1px black; width:170px; }
#page_menu a { display:block; }

#user_frame a{ color:white; }

#menu_tree{
  border-bottom: solid black 1px;
}

#powered_by{
  text-align:center;
  border-top: solid black 1px;
  clear:both;
}

#powered_by p{
  margin:0;
  padding:0;
}
